/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

input:focus {outline:none !important;}
button:focus {outline:none !important;}


html {
    font-size: 1em;
    line-height: 1.4;
	font-family: 'Source Sans Pro', sans-serif;	
	color:#fff;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	text-align:center;
}

p {
	font-size:1.2em;
	line-height:1.6em;
	font-weight:200;
	letter-spacing: 1px;
	font-family: 'Source Sans Pro', sans-serif;	
	text-transform: lowercase;
}


button p {
	font-size:1em;
	font-weight:200;
	letter-spacing: 1px;
	font-family: 'Source Sans Pro', sans-serif;	
	text-transform: lowercase;
}



h1, h2, h3, h4, h5, h6 { 
	font-weight:200;
}
	

a {
	text-decoration: none;
	color:rgba(255, 255, 255, .6);
}

a:hover {
	color:rgba(255, 255, 255, .8);
}

footer {
	color:rgba(255, 255, 255, .4);
	width:50%;
	margin:300px 25% 50px 25%;
	padding:10px;
}

#truth-title {
	width:40%;
	max-width:900px;
	position:relative;
	top:40px;
	margin-bottom: 70px;
}


button {
	background:transparent;
	border: solid white 2px;
	border-radius: 7px;
	color:#fff;
	margin:50px 0;
	padding:5px;
	width:100%;
	max-width:300px;
}



button:hover{
	color:rgba(255,255,255,.6);
	border-color:rgba(255,255,255,.6);

}

::selection {
	
	background:#000;
	color:#fff;
	
}

input, textarea {
	width:90%;
	margin:10px 0;
	border:0px;
	padding:15px;
	border-radius: 7px;
	}

.submit {
	width:50%;
	background:transparent;
	border: solid white 2px;
	border-radius: 7px;
	color:#fff;
	margin:10px 0;
	padding:10px;
	text-align: center;
	font-size:1em;
	font-weight:200;
	letter-spacing: 1px;
	font-family: 'Source Sans Pro', sans-serif;	
	text-transform: lowercase;
	
}

.submit:hover {
	color:rgba(255,255,255,.6);
	border-color:rgba(255,255,255,.6);
}

.submit-form {
	text-align: right;
}

.pagesubmit p {
	text-align: left;
	}

.pagesubmit button p {
	text-align: center;
	}


/* ==========================================================================
   Page backgrounds
   ========================================================================== */

.pagesubmit {
	background-color: #e4ae32;
	margin-top:50px;
}

.pagehome {  /* home page */
	background-color: #e4ae32;
}

.page1 {
	background-color: #13b179;
}

.page2 {
	background-color: #3950a2;
}

.page3 {
	background-color: #e74b55;
}

.page4 {
	background-color: #654c9f;
}

.page5 {
	background-color: #62cae2;
}

.page6 {
	background-color: #8db93e;
}

.page7 {
	background-color: #003584;
}

.page8 {
	background-color: #947ebd;
}

.page9 {
	background-color: #ff9a00;
}

.page10 {
	background-color: #ff0067;
}

.page11 {
	background-color: #0cbca5;
}

.page12 {
	background-color: #49a7ff;
}

.page13 {
	background-color: #ba17df;
}

.page14 {
	background-color: #ff4500;
}

.page15 {
	background-color: #00c5a1;
}

.page16 {
	background-color: #738fff;
}

.page17 {
	background-color: #e081c2;
}

.page18 {
	background-color: #e3b304;
}

.page19 {
	background-color: #ff8d64;
}

.page20 {
	background-color: #7917b9;
}

.page21 {
	background-color: #0ba823;
}

.page22 {
	background-color: #8f367e;
}

.page23 {
	background-color: #ffc400;
}



.disagree {
	background-color:#5ac4eb;
	text-align: left !important;
}

/* ==========================================================================
   Grid
   ========================================================================== */

/*  SECTIONS  */

.container {
	width:80%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	max-width: 750px;
	
}

.home-container {
	width:40%;
	text-align:left;
	margin: 0 30%;	
	
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.5%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF SIX  */
.span6 {
	width: 100%;
}

.span5 {
  	width: 83.08%;
}

.span4 {
  	width: 66.16%;
}

.span3 {
  	width: 49.25%;
}

.span2 {
  	width: 32.33%;
}

.span1 {
  	width: 15.41%;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span1, .span2, .span3, .span4, .span_5, .span6 { width: 100%; }
}




@media only screen and (max-width: 700px) {
	
	h1 {
	    font-size: 4em;
	    line-height:1.1em; 
	   }
	    
	   #truth-title {
		width:80%;
		margin-bottom:75px;
	}
	
	  .home-container {
		width:80%;
		text-align:left;
		margin: 0 10%;	
		
	}
	
	button {
		margin:15px 0;
		width:100%;
		clear:both;
	}
	
	.col {  margin: 1% 0 1% 0%; }
	.span1, .span2, .span3, .span4, .span_5, .span6 { width: 100%; }
	
}



@media only screen and (min-width:1400px) {
	
	
	.container h1 {
		margin-top:150px;
		margin-bottom:60px;
		}
	
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
          -webkit-user-select: none;
		  -khtml-user-select: none;
		  -moz-user-select: none;
		  -o-user-select: none;
		  user-select: none; 
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
